@import "tailwindcss";


:root {
  --background: #0B0B15; /* Le noir bleuté de la capture "Nova" */
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; 
}

/* Effet de verre pour la Navbar */
.glass {
  background: rgba(11, 11, 21, 0.7);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Le dégradé pour les titres et boutons */
.gradient-text {
  background: linear-gradient(to right, #1a25be, #488aec); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: linear-gradient(to right, #1a25be, #488aec);
}